.root{
	-fx-background: white;
	-fx-font-family: "Garamond";
}
.button{
	-fx-text-fill: white;
	-fx-font-family: "Garamond";
	-fx-background-color: #021994;
	-fx-font-size:14;
}
.label{
	-fx-font-family: "Garamond";
}